In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
display(data.head(20))
display(theme.head(20))

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
5,0014-1,Space Mini-Figures,1979,12.0,Supplemental,Space
6,0015-1,Space Mini-Figures,1979,NaN,Supplemental,Space
7,0016-1,Castle Mini Figures,1978,NaN,Castle,Castle
8,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland
9,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland
10,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland
11,005-1,Basic Building Set in Cardboard,1965,35.0,Basic Set,Classic
12,00-6,Special Offer,1985,3.0,Classic Town,Town
13,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland
14,010-1,Basic Building Set in Cardboard,1965,57.0,Basic Set,Classic
15,010-3,Basic Building Set,1968,77.0,Basic Set,Classic
16,011-1,Basic Building Set,1968,145.0,Basic Set,Classic
17,022-1,Basic Building Set,1968,110.0,Basic Set,Classic
18,03093-1,The Race to Build It Board Game,1999,NaN,Game,Gear
19,033-2,Basic Building Set,1968,NaN,Basic Set,Classic

     id                      name  is_licensed
0     1                   Technic        False
1    22                   Creator        False
2    50                      Town        False
3   112                    Racers        False
4   126                     Space        False
5   147                   Pirates        False
6   155         Modular Buildings        False
7   158                 Star Wars         True
8   186                    Castle        False
9   204             Designer Sets        False
10  206                  Seasonal        False
11  233                     Train        False
12  246              Harry Potter         True
13  252              Architecture        False
14  254               Bulk Bricks        False
15  258                Mindstorms        False
16  263  Pirates of the Caribbean         True
17  264             Indiana Jones         True
18  269                      Cars         True
19  270                    Ben 10         True

#### 1. What percentage of all licensed sets ever realeased were Star Wars themed?

*set_num* is a critical column. Mising value indicates that the set is a duplicate or invalid
  
  *set_name* - a name for every set in the dataset
  
  *year* - the date the set was released
  
  *num_parts* - The number of parts contained in the set - column is not central, so missing values are okay here

In [14]:
# We need to join te data in one dataset
merged = data.merge(theme, left_on='parent_theme', right_on='name')
merged.head(20)

# Dropping the repeated columns
merged = merged.drop(columns='name_y')

In [15]:
merged.head(20)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False
5,102A-1,Front-End Loader,1970,64.0,Construction,Legoland,411,False
6,102A-2,Front-End Loader,1970,NaN,Construction,Legoland,411,False
7,1-10,Mini-Wheel Model Maker No. 1,1971,88.0,Vehicle,Legoland,411,False
8,1550-1,Sterling Super Caravelle,1972,NaN,Airport,Legoland,411,False
9,1551-2,Sterling Luggage Carrier,1972,49.0,Airport,Legoland,411,False
10,1552-2,Sterling Boeing 727,1974,45.0,Airport,Legoland,411,False
11,1555-2,Sterling Airways Biplane,1978,NaN,Airport,Legoland,411,False
12,1560-2,Lufthansa Boeing 727,1976,44.0,Airport,Legoland,411,False
13,1562-3,Lufthansa Double-Decker,1976,NaN,Airport,Legoland,411,False
14,157-3,Four Car Auto Transport,1970,NaN,Vehicle,Legoland,411,False
15,1601-1,Conveyance,1976,NaN,Construction,Legoland,411,False
16,1610-2,Martinair Cessna,1978,82.0,Airport,Legoland,411,False
17,1611-2,Martinair DC-9,1978,63.0,Airport,Legoland,411,False
18,2-10,Mini-Wheel Model Maker No. 2,1971,63.0,Vehicle,Legoland,411,False
19,248-2,Factory With Conveyor Belt,1971,208.0,Construction,Legoland,411,False

In [16]:
# Checking how many null values are in the 
merged[merged['set_num'].isnull()].shape

(153, 8)

In [17]:
licensed = merged[merged['is_licensed'] == True]
licensed = licensed.dropna(subset=['set_num']) # We delete the values where set_num was zero
star_wars = licensed[licensed['parent_theme'] == 'Star Wars']
the_force = star_wars.shape[0]/licensed.shape[0]

In [18]:
the_force

0.5165394402035624